body {
  text-align: center;
  font-family: Helvetica;
}
footer {
  text-align: left;
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
a {
  color: white;
}
#home {
  background-image: url(../images/the-flatiron-building.png);
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
#home p {
  font-size: 18px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
#work {
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}
